<header class="sticky top-0 flex w-full bg-gray-100 shadow-sm dark:bg-gray-900">
  <nav class="flex w-full mx-auto item-center max-w-7xl gap-x-20">
    <a routerLink="home" class="flex items-center justify-center mr-auto">
      <i class="w-6 h-6 leading-none mdi mdi-24px mdi-home"></i>
    </a>
    <a class="py-4" *ngFor="let item of navRoutes" [routerLink]="item.path">{{item.data?.title}}</a>
  </nav>
  <app-toggle-switch [on]="darkMode" [icon]="'mdi-lightbulb'" (toggled)="toggleDarkMode()" class="mx-4 my-auto">
    Dark Mode
  </app-toggle-switch>
</header>
<section #body class="flex flex-col flex-grow flex-shrink-0 w-full mx-auto max-w-7xl">
  <router-outlet></router-outlet>
</section>
<!-- <button
  class="fixed bottom-0 right-0 w-12 h-12 m-5 text-white transition duration-150 bg-blue-500 rounded-full hover:bg-blue-600 focus:ring-blue-400"
  (click)="toggleDarkMode()">
  <i class="mdi mdi-24px mdi-lightbulb"></i>
</button> -->